@import url('//fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;

  @media (max-width: 768px) {
    position: absolute;
  }
}

button:focus,
select:focus,
input:focus {
  outline: none;
}
